@model List<SalesInvoiceViewModel>
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fatura ve Ürün Bilgileri</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .row .col {
            background-color: #D3D3D3; /* Lila arka plan rengi */
            color: black; /* Yazı rengini siyah yapar */
            padding: 10px; /* İçeriğin etrafına boşluk ekler */
            text-align: center; /* Yazıyı ortalar */
            border: 1px solid #708090; /* Kolonlar arasında koyu lila renkli ince kenar */
            word-wrap: break-word; /* Yazı uzun olduğunda satır sonlarına geçer */
        }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                $("#GridHtmlInput").val($("#Grid").html()); // Grid içeriğini al
            });
        });
    </script>
</head>
<body>

    <div class="container" id="Grid">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col"><strong>FaturaID: @item.FaturaID</strong></div>
                <div class="col"><strong>Müşteri Adı: @item.MusteriAdi</strong></div>
                <div class="col"><strong>Adres: @item.MusteriAdresi</strong></div>
                <div class="col"><strong>Telefon: @item.MusteriTel</strong></div>
                <div class="col"><strong>Şehir: @item.MusteriSehir</strong></div>
                <div class="col"><strong>Vergi Dairesi: @item.MusteriVergiDairesi</strong></div>
            </div>
            <div class="row">
                <div class="col"><strong>Ürün Adı</strong></div>
                <div class="col"><strong>Stok Kodu</strong></div>
                <div class="col"><strong>Satış Adeti</strong></div>
                <div class="col"><strong>KDV Oranı</strong></div>
                <div class="col"><strong>KDV Dahil Birim Fiyatı</strong></div>
            </div>
            @foreach (var product in item.SatilanUrunler)
            {

                <div class="row">
                    <div class="col">@product.UrunAdi</div>
                    <div class="col">@product.StokKodu</div>
                    <div class="col">@product.SatisAdeti</div>
                    <div class="col">@product.KDVOrani</div>
                    <div class="col">@product.KDVDahilBirimFiyati</div>
                </div>

            }
            <!-- Faturalandır Butonu -->
           <div class="row">
                <div class="col text-center">
                    <form method="post" action="/Sales/Export">
                        <input type="hidden" name="GridHtml" id="GridHtmlInput" />
                        <button type="submit" id="btnSubmit" class="btn btn-primary">Faturalandır</button>
                    </form>

                </div>
            </div>  
        }
    </div>
</body>
</html>
